body {
  font-family: 'Raleway', sans-serif !important;
}

// Styling project list

#project-list {
  list-style: none;
  padding-left: 0;
  li {
    cursor: pointer;
  }
}

// Styling the task list
#tasks-list {
  list-style: none;
  padding-left: 0;
  li {
    cursor: pointer;
  }
}

.card {
  border-radius: 0 !important;
  border: 0;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
}

// Styling the form fields

.custom-file-label, .custom-file-input, .form-control {
  border-radius: 0 !important;
}


// Image overlay hover effect

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

img {
  width: 100%;
  height: auto;
}

.project-listing {
  position: relative;
}

.project-title {
  font-weight: 400 !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(80, 79, 77, 0.308);
  /* typographic styles */
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;

  /* position the text centrally*/
  display: flex;
  align-items: center;
  justify-content: center;

  /* hide the title by default */
  opacity: 0;
  transition: opacity 0.5s;
}

.project-image {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
}

.project-footer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin-top: 55%;
  margin-left: 3%;
  /* hide the title by default */
  opacity: 0;
  transition: opacity 0.5s;
}

.project-listing:hover .project-title {
  opacity: 1;
}
.project-listing:hover .project-footer {
  opacity: 1;
}
.project-image {
  line-height: 0;
}

.progress-tracker {
  background-color: white;
}

// Button Styling

.badge {
  border-radius: 0px!important;
}

.btn {
  border-radius: 0px!important;
}



// Sign up/login form styling

.log-txt {
  font-weight: bold;
  margin: 25px 0 25px 0 !important;
  color: none !important;
}

.reg-form {
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.16);
}
